<%= form_tag(search_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search_query], required: true, placeholder: "Search movies" %>
<%= submit_tag "Search" %>
<% end %>