<h1>Movies</h1>
<table>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <% if @titles.any? %>
        <% for movie in @titles %>
          <div class='movie'>
              <strong> <%= movie %> </strong>
          </div>
        <% end %>
      <% else %>
        <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
      <% end %>
     </tr>       
  </tbody>
</table>
